<div class="is-flex is-justify-content-space-between">
<div class="dropdown is-hoverable">
  <div class="dropdown-trigger">
    <button class="button mt-3 mx-3" style="min-width:8rem" type="button" aria-haspopup="true" aria-controls="list-order">
    <% if (order == 1) { %>
     recently added
    <% } else { %>
     A-Z
     <% } %>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
      <path fill="none" d="M0 0h24v24H0z" />
      <path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z" />
    </svg></button>
  </div>
  <div class="dropdown-menu" id="list-order" role="menu">
    <div class="dropdown-content" style="background-color: rgba(203, 231, 216, 0.812);">
      <% if(order == 1){ %>
      <a href="/last.am/order_alpha">
        <div class="dropdown-item">
        A-Z
        </div>
        </a>
        <% } else { %>
         <a href="/last.am/order_recent">
        <div class="dropdown-item">recently added
        </div></a>
        <%}%>
    </div>
  </div>
</div>
<% if(view == 0){ %>
<div class="is-flex">
  <a href="last.am/grid_view">
    <div class="hast-text-right is-flex is-flex-wrap-wrap is-justify-content-center mt-3 mx-3" style="background-color: rgb(67, 133, 129);width:32px;height:36px;border-radius: 4px;border:2px solid rgba(128, 128, 128, 0.855); box-shadow: 2px 2px .3rem rgb(100, 92, 92);">
      <div class="square" style="border-radius: 2px;margin: 2px;width:10px;height:10px; background-color: #eea9a9"></div>
      <div class="square" style="border-radius: 2px;margin: 2px;width:10px;height:10px; background-color: rgb(238, 169, 169)"></div>
      <div class="square" style="border-radius: 2px;margin: 2px;width:10px;height:10px; background-color:  rgb(238, 169, 169)"></div>
      <div class="square" style="border-radius: 2px;margin: 2px;width:10px;height:10px; background-color: rgb(238, 169, 169)"></div>
    </div>
  </a>
</div>
<% } else { %>
<div class="mt-3 mx-3">
  <a href=" /last.am/list_view">
  <div class="is-flex is-justify-content-center pb-2" style="background-color: rgb(67, 133, 129);border-radius: 4px;border:2px solid rgba(128, 128, 128, 0.855); width:32px; height:36px;line-height:.4rem; box-shadow: 2px 2px .3rem rgb(100, 92, 92);">
  <p class="has-text-weight-light" style="color:rgb(238, 169, 169);font-size: 60px;"> - <br> - <br> - <br></p>
  </div>
  </a>
</div>
<% } %>

</div>