<div class="dropdown is-hoverable">
  <div class="dropdown-trigger">
    <input class="button mt-3 mx-3" type="button" aria-haspopup="true" aria-controls="list-order" value="list-order  v">
  </div>
  <div class="dropdown-menu" id="list-order" role="menu">
    <div class="dropdown-content" style="background-color: rgba(203, 231, 216, 0.812);">
        <div class="dropdown-item">
        <a href="/last.am/order_alpha">alphabetical</a>
        </div>
        <div class="dropdown-item">
          <a href="/last.am/order_recent">most recent</a>
        </div>
    </div>
  </div>
</div>