<div class="" style="background-color: rgb(123, 192, 189);border-bottom: 1px solid rgb(97, 88, 88);">
  <div class="is-flex is-justify-content-center">
  <img class="is-centered" src="images/banner _transparent.png">
  </div>
  <div class="container is-flex is-justify-content-center">
    <a href="/last.am">
      <p class="mx-2">Home</p>
    </a>
    <a href="/last.am/add_game">
      <p class="mx-2">Add Game</p>
    </a>
  </div>
</div>