<div class="hero" style="background-color: rgb(123, 192, 189);border-bottom: 1px solid rgb(97, 88, 88);">
  <h1 class="is-size-1 has-text-centered">Last.am</h1>
  <div class="container is-flex is-justify-content-center">
    <a href="/last.am">
      <p class="m-2">Home</p>
    </a>
    <a href="/last.am/add_game">
      <p class="m-2">Add Game</p>
    </a>
  </div>
</div>