<div class="" style="background-color: rgb(123, 192, 189);border-bottom: 1px solid rgb(97, 88, 88);">
  <div class="is-flex is-justify-content-center">
  <figure>
  <img class=" image is-centered" src="https://i.imgur.com/SHNmSVw.png">
  </figure>
  </div>
  <div class="container is-flex is-justify-content-center">
    <a href="/last.am">
      <p class="m-5">Home</p>
    </a>
    <a href="/last.am/add_game">
      <p class="m-5">Add Game</p>
    </a>
  </div>
</div>