<div class="navbar is-fixed-top" style="position:fixed;top:0;background-color: rgb(123, 192, 189);border-bottom: 3px solid rgb(40, 138, 123);min-height: 4.5rem; box-shadow:5px 5px .8rem;color:rgba(225, 173, 244, 0.861);">
  <div class="navbar-brand is-justify-content-space-between">
    <a class="navbar-item is-large" href="/last.am">
      <figure class="">
        <img src="https://i.imgur.com/SHNmSVw.png">
      </figure>
      </a>
      <div>
    <a role="button" class="navbar-burger m-2" aria-label="menu" aria-expanded="false" data-target="nav-header">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
    </div>
  </div>
  <!-- <div class="container is-flex is-flex-direction-column is-justify-content-center"> -->
  <div class="navbar-menu has-text-right" style="background-color: rgb(123, 192, 189);" id="nav-header">
    <div class="" style="background-color: rgb(123, 192, 189);">
      </div>
        <div class="navbar-item">
          <a href="/last.am/add_game">Add Game
          </a>
        </div>
        <div class="navbar-item">
          <a href="/last.am">Home</a>
        </div>
  </div>
  <div class="navbar-end">
  </div>
  </div>
</div>
<!-- Thanks bulma documentation! https://bulma.io/documentation/components/navbar/  -->
<script>

document.addEventListener('DOMContentLoaded', () => {

// Get all "navbar-burger" elements
const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

// Add a click event on each of them
$navbarBurgers.forEach( el => {
el.addEventListener('click', () => {

// Get the target from the "data-target" attribute
const target = el.dataset.target;
const $target = document.getElementById(target);

// Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
el.classList.toggle('is-active');
$target.classList.toggle('is-active');

});
});

});
</script>