<div class="column is-4 is-flex is-flex-direction-column is-justify-content-space-center">
<div style="padding:3%;background-color: rgba(203, 231, 216, 0.812);border: 2px solid grey; border-radius: 7px;">
  <figure style="">
    <img style="" class="image show-img" src="<%=data.titleScreen%>">
  </figure>
  <figure style="">
    <img style="" class="image show-img my-2" src="<%=data.gameScreen%>" alt="">
  </figure>
  </div>
  </div>