<div class="column is-4 is-flex is-flex-direction-column is-align-items-center" style="min-height:30rem;max-width:100%;">
  <figure style="max-height: 18rem;">
    <img class="image show-img" src="<%=data.titleScreen%>">
  </figure>
  <figure style="max-height: 18rem;">
    <img class="image show-img my-2" src="<%=data.gameScreen%>" alt="">
  </figure>
</div>