<div class="column is-4 is-flex is-flex-direction-column is-align-items-center">
  <figure style="max-height: 18rem;">
    <img style="max-height: 18rem;" class="image show-img" src="<%=data.titleScreen%>">
  </figure>
  <figure style="max-height: 18rem;">
    <img style="max-height: 18rem;" class="image show-img my-2" src="<%=data.gameScreen%>" alt="">
  </figure>
  <a href="/last.am/edit/<%=data._id%>">
    <input class="button m-4" type="button" value="Edit Entry">
  </a>
</div>