<div class="column is-4 is-flex is-flex-direction-column is-align-items-center" style="min-height:30rem;max-width:25rem;">
  <figure>
    <img class="image show-img" src="<%=data.titleScreen%>">
  </figure>
  <figure>
    <img class="image show-img my-2" src="<%=data.gameScreen%>" alt="">
  </figure>
</div>