<div class="column is-4 is-flex is-flex-direction-column is-justify-content-center has-text-centered">
  <h1 class="is-size-5 is-bold mt-2">Genre:</h1><br>
  <p class="is-size-6 mb-4 has-text-primary-light"><%=data.genre%></p>
  <h1 class="is-size-5 is-bold mt-2">Publisher:</h1><br>
  <p class="is-size-6 mb-4 has-text-primary-light"><%=data.pub%></p>
  <h1 class="is-size-5 is-bold mt-2">Developer:</h1><br>
  <p class="is-size-6 mb-4 has-text-primary-light"><%=data.dev%></p>
  <h1 class="is-size-5 is-bold mt-2">Release Year:</h1><br>
  <p class="is-size-6 mb-4 has-text-primary-light"><%=data.year%></p>
</div>