<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>last.am || Menu</title>
</head>
<body>
    <%-  include('./partials/header.ejs')%>
    <section class="section mt-5">
    <figure class="is-flex is-justify-content-center" style="">
    <img src="https://i.imgur.com/IZmTVmi.png">
    </figure>
    <%- include('./partials/drop_down.ejs') %>
    <% if (view == 1){%>
    <%- include('./partials/index_grid.ejs') %>
    <%} else {%>
    <%- include('./partials/index_list.ejs') %>
    <% } %>
    </section>
</body>
</html>