@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

body{
background-color: rgb(238, 169, 169);
min-height:100vh;
width:100%
}
.button{
background-color:rgb(123, 192, 189);
border: 1px solid rgba(0, 128, 0, 0.338);
}
.delete-button{
background-color: rgba(123, 192, 189, 0.655);
}
div::-webkit-scrollbar{
display:none
}
div {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
a{
    text-decoration: none;
    color:black
}
img{
max-height:20rem
}