@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

body{
background-color: rgb(253, 191, 191);
}
.button{
background-color:rgb(155, 213, 226);
}
div::-webkit-scrollbar{
display:none
}
div {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
a{
    text-decoration: none;
    color:black
}